@model iTunes_WebApp_API.Models.SearchResult

@{
    ViewData["Title"] = "Search Results";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Times New Roman', Times, serif;
        }

        h1 {
            color: black;
            font-size: 32px;
            font-weight: bold;
            text-align: center;
            margin-top: -40px;
        }

        h2 {
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
        }

        table {
            width: 1200px;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            font-weight: bold;
            font-size: 17px;
        }

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }

        .results-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .item-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-bottom: 20px;
            flex-basis: 200px;
        }

            .item-container img {
                width: 100%;
                height: auto;
                max-width: 200px;
                max-height: 200px;
                border-radius: 8px;
                margin-bottom: 10px;
            }

            .item-container p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin: 0;
                max-width: 200px;
                text-align: center;
            }

            .item-container hr {
                width: 80%;
                margin-top: 10px;
            }
    </style>
</head>
<body>
    <h1>Search Results</h1>

    @if (Model.ResultCount > 0)
    {
        <div class="container">
            <h2 style="margin-bottom: 20px">Songs</h2>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th>Track Name</th>
                        <th>Artist</th>
                        <th>Album</th>
                        <th>Price</th>
                        <th>Click Count</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Results)
                    {
                        if (item.WrapperType == "track" && item.Kind == "song")
                        {
                            <tr>
                                <td><img src="@item.ArtworkUrl100" alt="Song Artwork"></td>
                                <td><a href="@item.ViewDetailsUrl">@item.TrackName</a></td>
                                <td>@item.ArtistName</td>
                                <td>@item.CollectionName</td>
                                <td>@item.GetFormattedTrackPrice()</td>
                                <td>@item.ClickCount</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="container">
            <h2 style="margin-bottom: 20px">Albums</h2>
            @if (!Model.Results.Any(item => item.WrapperType == "collection" && item.Kind == "album"))
            {
                <p>No Albums found.</p>
                <hr class="custom-line">
            }
            else
            {
                <div class="results-container">
                    @foreach (var item in Model.Results)
                    {
                        if (item.WrapperType == "collection" && item.Kind == "album")
                        {
                            <div class="item-container">
                                <img src="@item.ArtworkUrl100" alt="Album Artwork">
                                <p style="font-weight: bold;">@item.TrackName </p>
                                <p>@item.ArtistName</p>
                                <p>@item.CollectionName</p>
                                <p>@item.GetFormattedCollectionPrice()</p>
                                <hr class="custom-line">
                            </div>
                        }
                    }
                </div>
            }
        </div>

        <div class="container">
            <h2 style="margin-bottom: 20px">Music Videos</h2>
            @if (!Model.Results.Any(item => item.WrapperType == "track" && item.Kind == "music-video"))
            {
                <p>No Music Videos found.</p>
                <hr class="custom-line">
            }
            else
            {
                <div style="margin-bottom: 10px" class="results-container">
                    @foreach (var item in Model.Results)
                    {
                        if (item.WrapperType == "track" && item.Kind == "music-video")
                        {
                            <div class="item-container">
                                <img src="@item.ArtworkUrl100" alt="Music Video Artwork">
                                <p style="font-weight: bold;">@item.TrackName </p>
                                <p>@item.ArtistName</p>
                                <p>@item.GetFormattedTrackPrice()</p>
                                <hr class="custom-line">
                            </div>
                        }
                    }
                </div>
            }
        </div>

        <div class="container">
            <h2>TV Episodes</h2>
            @if (!Model.Results.Any(item => item.WrapperType == "track" && item.Kind == "tv-episode"))
            {
                <p>No TV Episodes found.</p>
                <hr class="custom-line">
            }
            else
            {
                <div class="results-container">
                    @foreach (var item in Model.Results)
                    {
                        if (item.WrapperType == "track" && item.Kind == "tv-episode")
                        {
                            <div class="item-container">
                                <img src="@item.ArtworkUrl100" alt="TV Episode Artwork">
                                <p style="font-weight: bold;">@item.TrackName </p>
                                <p>@item.ArtistName</p>
                                <p>@item.CollectionName</p>
                                <p>@item.GetFormattedTrackPrice()</p>
                                <hr class="custom-line">
                            </div>
                        }
                    }
                </div>
            }
        </div>
    }
    else
    {
        <div class="container">
            <p>No Results found.</p>
        </div>
    }

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
