@model iTunes_WebApp_API.Models.SongDetailsViewModel

<h1>Track Details</h1>

<div>
    <h2>@Model.trackName</h2>
    <p>Artist: @Model.artistName</p>
    <p>Collection: @Model.collectionName</p>
    <p>Release Date: @Model.releaseDate</p>
    <p>Price: @Model.trackPrice</p>
    <p>Click Count: @Model.ClickCount</p>
    <!-- Add more HTML to display other track details as needed -->
</div>
